  @model IEnumerable<Infraestructure.Models.Proveedor>


@{
    ViewBag.Title = "Proveedores";
}


<div class="container">
    <h1 class="stock_h1 col-12">Proveedores</h1>
    <br />
    <div class="row">
        <div class="col-2 new_action">
            <a href="~/Proveedor/Crear" class="bx bx-message-square-add">
                <strong>Nuevo</strong>
            </a>
        </div>
        <div class="offset-md-3 col-2"><h1 class="stock_h1">@ViewBag.Subtitle</h1></div>
    </div>
    <br />   <br />
    <div class="row">

        <br />
        <br />
        <br />
        @Html.Partial("_PartialProveedor")

    </div>
    <br />
    <div id="tabla-proveedores">

    </div>

    <br />
    
    @*@Html.Partial("~/Views/Proveedor/_ListaContacto")*@

</div>
    @section scripts {
        @Scripts.Render("~/bundles/jqueryajax")
    }


