
@{
    ViewBag.Title = "Inventario Productos";
}
@Styles.Render("~/Content/inventario")
<h2>Productos</h2>

<table>
    <thead>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Costo Unitario</th>
        <th>Total Existencias</th>
        <th>Acciones </th>
         <th>     </th>
    </thead>
        <tbody>
            <tr>
             
                    <td><a>0001</a></td>
                    <td>Arroz to pelon</td>
                    <td>$ 1500</td>
                    <td>1000</td>
                    <td><a class='bx bx-edit'></a></td>
                    <td><i class='bx bxs-trash'></i></td>
                
            </tr>
            <tr>
                <td>0001</td>
                <td>Arroz to pelon</td>
                <td>$ 1500</td>
                <td>1000</td>
                <td><a class='bx bx-edit'></a></td>
                <td><i class='bx bxs-trash'></i></td>
            </tr>
            <tr>
                <td>0001</td>
                <td>Arroz to pelon</td>
                <td>$ 1500</td>
                <td>1000</td>
                <td><a class='bx bx-edit'></a></td>
                <td><i class='bx bxs-trash'></i></td>
            </tr>
            <tr>
                <td>0001</td>
                <td>Arroz to pelon</td>
                <td>$ 1500</td>
                <td>1000</td>
                <td><a class='bx bx-edit'></a></td>
                <td><i class='bx bxs-trash'></i></td>
            </tr>
            <tr>
                <td>0001</td>
                <td>Arroz to pelon</td>
                <td>$ 1500</td>
                <td>1000</td>
                <td><a class='bx bx-edit'></a></td>
                <td><i class='bx bxs-trash'></i></td>
            </tr>
            <tr>
                <td>0001</td>
                <td>Arroz to pelon</td>
                <td>$ 1500</td>
                <td>1000</td>
                <td><a class='bx bx-edit'></a></td>
                <td><i class='bx bxs-trash'></i></td>
            </tr>
            <tr>
                <td>0001</td>
                <td>Arroz to pelon</td>
                <td>$ 1500</td>
                <td>1000</td>
                <td><a class='bx bx-edit'></a></td>
                <td><i class='bx bxs-trash'></i></td>
            </tr>
            <tr>
                <td>0001</td>
                <td>Arroz to pelon</td>
                <td>$ 1500</td>
                <td>1000</td>
                <td><a class='bx bx-edit'></a></td>
                <td><i class='bx bxs-trash'></i></td>
            </tr>

        </tbody>
    </thead>
</table>