@{
 ViewBag.titulo = "Entrada";
}
<div class="row">
    <div class="offset-md-2">
        <h1 class="stock_h1">@ViewBag.titulo</h1>
    </div>
    <div class="offset-md-2">
        <label for="tipo">Tipo de movimiento</label>
        <select class="form-control" id="tipo">
            <option value="1">Compra</option>
            <option value="2">Devolucion</option>
        </select>
    </div>
</div>
<br />
<br />

<div class="row" style="margin-left: 50px;">
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
    <div class="card" style="width: 10rem;margin: 10px;">
        <img src="~/source/img/stock.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>


</div>
