@{
    ViewBag.Title = "About";
}
@Styles.Render("~/Content/about")
<h2 class="title">
    Somos tu conexion con el mundo
    moderno basado en trabajos automatizados y digitales
</h2>


<div class="company">
    <p>Software HeyCas</p>
    <div class="desc">
        Somos una compañia especializada en crear aplicaciones web accesible desde diferentes dispositivos, tambien nos especializamos en la creacion de aplicaciones de escritorios
    </div>
</div>

<div class="about">
  
    <h3>Nuestro Equipo</h3>
    <div class="equipo">

        <div class="participantel">
            <img src="~/Source/img/jesus.png" alt="">
            <div class="info">
                <p>
                    Nombre: Jesus Castilla Quiroz<br />
                    Area: Informatica y telecomunicaciones<br />
                    Correo: jisusquiros2001@gmail.com<br />
                    Direccion: Alajuela <br />
                    Telefono: 64862101
                </p>
            </div>

        </div>
        <div class="participanter">
            <img src="~/Source/img/jesus.png" alt="">
            <div class="info">
                <p>
                    Nombre: Jesus Castilla Quiroz<br />
                    Area: Informatica y telecomunicaciones<br />
                    Correo: jisusquiros2001@gmail.com<br />
                    Direccion: Alajuela <br />
                    Telefono: 64862101
                </p>
            </div>
        </div>
    </div>
    <h3 id="pt">Nuestros Productos</h3>
    <div class="productos">


        <div class="producto">
            <i class='bx bxl-squarespace' id="icono"></i>
            <div class="producto_name">
                <span class="word">Stock</span>
                <span class="word">Management</span>
            </div>
        </div>
        <div class="producto">
            <i class='bx bxs-paper-plane' id="icono"></i>
            <div class="producto_name">
                <span class="word">Fastest</span>
                <span class="word">Delivery</span>
            </div>
        </div>
        <div class="producto">
            <i class='bx bxs-plane' id="icono"></i>
            <div class="producto_name">
                <span class="word">Plane</span>
                <span class="word">Book</span>
            </div>
        </div>

    </div>

</div>
<div class="contact_content">
    <div class="contact">
        <h2>Contactenos</h2><p>
            Direccion : Costa Rica, Alajuela<br />
            Telefono: 2559-6790<br />
            Correo: atencioncliente@heycas.com
        </p>
    </div>
</div>
<div class="bottom"></div>
