@{
    ViewBag.Title = "Pagina Inicio";
}


@Styles.Render("~/Content/inventario")
@Styles.Render("~/Content/Index")




    <h1 class="title">
        Bienvenidos a Stock Management
    </h1>





<div class="tab_list">
    <div class=" tab active" onclick="mostrar(event,'inicio')"> Inicio </div>
    <div class=" tab" onclick="mostrar(event,'productRegistrados')"> Total productos registrados </div>
    <div class=" tab" onclick="mostrar(event,'totalSalidas')"> Total de salidas registradas </div>
    <div class=" tab " onclick="mostrar(event,'totalEntradas')"> Total de entradas registradas </div>
    <div class=" tab" onclick="mostrar(event,'productSolicitar')"> Productos por solicitar </div>

</div>


<section class="tab-list">

    <div class=" tab_content tab_active" id="inicio">
        <h1>Inicio</h1>

        <h3 class="text">
            Bienvenidos a Stock mannagment, un sistema para la administración del inventario de tu negocio.
            Aquí podrás observar cada movimiento de tu inventario, como por ejemplo: Entradas, salidas, reportes, productos próximos a vencer, productos en desabastecimientos y más.
            Cualquier consulta que surga, no dudes en ponerte en contacto con algún administrador
        </h3>

        <img class="imgBienvenidos" src="~/Source/img/bienvenido.gif" alt="">


    </div>

    <div class="tab_content" id="productRegistrados">
        <h1> Productos total registrados</h1>



        @{IEnumerable<Infraestructure.Models.Producto> lista = (IEnumerable<Infraestructure.Models.Producto>)TempData["Productos"];
            TempData.Keep("Productos");}
     


    </div>

    <div class="tab_content" id="totalSalidas">
        <h1> Total salidas del día</h1>
        <h4>Se han registrado 3 salidas</h4>
        <center>
            <table>
                <thead>
                    <tr>
                        <th>Número de salida</th>
                        <th>Usuario</th>
                        <th>Producto</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Ubicación</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>100</td>
                        <td>Jesús Castilla</td>
                        <td>Atún pronto</td>
                        <td>05/06/2021</td>
                        <td> 13</td>
                        <td> Sección A</td>
                    </tr>
                    <tr>
                        <td>101</td>
                        <td>Hannyer Pitterson</td>
                        <td>Aceite clover</td>
                        <td>05/06/2021</td>
                        <td> 5</td>
                        <td> Sección C</td>
                    </tr>
                    <tr>
                        <td>102</td>
                        <td>Jesús Castilla</td>
                        <td>Manteca clover</td>
                        <td>05/06/2021</td>
                        <td> 2</td>
                        <td> Sección A</td>
                    </tr>

                </tbody>

            </table>



        </center>
        <img class="imgInven" src="~/Source/img/Salida.jpg" alt="">

    </div>

    <div class="tab_content" id="totalEntradas">
        <h1> Total entradas del día</h1>
        <h4>Se han registrado 4 entradas</h4>
        @{List<Infraestructure.Models.Entrada> listaE = (List<Infraestructure.Models.Entrada>)TempData["Entradas"];
            TempData.Keep("Entradas");}
       
        <img class="imgInven" src="~/Source/img/entrada.jpg" alt="">

    </div>

    <div class="tab_content" id="productSolicitar">
        <h1> Productos por solcitar</h1>


        <center>
            <table>
                <thead>
                    <tr>
                        <th>Código de producto</th>

                        <th>Producto</th>
                        <th>Cantidad mínima</th>
                        <th>Cantidad actual</th>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>10001</td>

                        <td>Leche Condensada</td>

                        <td> 15</td>
                        <td> 11</td>

                    </tr>

                    <tr>
                        <td>10002</td>

                        <td>Numar</td>

                        <td> 10</td>
                        <td> 2</td>

                    </tr>
                    <tr>
                        <td>10003</td>

                        <td> Salsa lizano banquete </td>

                        <td> 15</td>
                        <td> 7</td>

                    </tr>

                </tbody>

            </table>



        </center>
        <img class="imgInven" src="~/Source/img/compra.jpg" alt="">




    </div>


</section>


