@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h2{
    margin-top:25px;
    margin-left:35vw;
    color:orange;
}

table {
    margin-left: 20vw;
    margin-top:75px;
   
}

table thead th {
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-top: solid black 1px;
        background-color:rgba(241,97,65,0.8);
}
table tbody tr {
        border-top: solid black 1px;
        border-bottom: solid black 1px;
     
        height: 40px;
        
}
table tbody tr td {
            text-align: center;
            padding: 10px;
 }
 table tbody tr:nth-child(even) {
            background: #EEE2DF;
 }
.bx:hover{
            color:orange;
}
.bx-edit{
            background-color:green;
            color:#fff;
            font-size:35px;
}
.bxs-trash {
    background-color: red;
    color: #fff;
    font-size: 35px;
}
.bxs-detail {
    background-color: cornflowerblue;
    color: #fff;
    font-size: 35px;
}

