@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h2{
    margin-top:25px;
    margin-left:35vw;
    color:orange;
}

table {
    margin-left: 10vw;
    margin-top:75px;
   
}

    table thead th {
        padding: 10px;
        padding-left: 20px;
        max-width: 250px;
        padding-right: 20px;
        border-top: solid black 1px;
        background-color: rgba(241,97,65,0.8);
        text-align: center;
    }
table tbody tr {
        border-top: solid black 1px;
        border-bottom: solid black 1px;
     
        height: 40px;
        
}
table tbody tr td {
    max-width:250px;
            text-align: center;
            padding: 10px;
 }
 table tbody tr:nth-child(even) {
            background: #EEE2DF;
 }
.bx:hover{
            color:orange;
}
.bx-edit{
            background-color:green;
            color:#fff;
            font-size:35px;
}
.bxs-trash {
    background-color: red;
    color: #fff;
    font-size: 35px;
}
.bxs-detail {
    background-color: cornflowerblue;
    color: #fff;
    font-size: 35px;
}

.tab_list {
    margin-left: 10vw;
    display:flex;
    cursor:pointer;
    margin-right:5vw;

    border-bottom: solid 2px #1d1b31;

}
    .tab_list .tab {
        max-width: 200px;
        min-width:100px;
        background-color: #1d1b31;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
        margin:1px;
        color: orange;
        font-weight:300;
        text-align:center;
    }
        .tab_list .tab:hover {
            background-color: black;
            color: #fff;
        }
.tab_list div.active{
    background-color:cornflowerblue;
    color:#fff;
   
}


.tab_content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
    .tab_active {
        display: block;
    }




.modal-dialog modal-content {
    border-radius: 10%;
}


.modal-header {
    background-color: rgba(241,97,65,0.8);
    padding-left:20%;
}


.productPhoto {

    float:right;
    width:20vh;
    height:20vh;
}

.selecI {
    width: 20vh;
    background-color: #E3DAC9;
    border:solid 1px black;
}

h5 {

    font-size: 15px;
}

.productInformation {
    
    width: 47vh;
    font-size: 15px;
}


.modal-body {
    background-color: #E3DAC9;
    
}
.modal-footer {
    
    background-color: #E3DAC9;
    border-top:solid 1px black;
    align-items:center;
    
}

.btn-secondary {
    margin-left: auto;
    margin-right: auto;
    background-color: #ff6666;
}


.entradaTable {
    margin-left: 20vw;
   
}

