@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#topnav{
    background-color: rgba(261, 97, 65, 0.8);
    color: #fff;
}
.toplink{
    color: #fff !important;
}
.stock_h1 {
    color: rgba(261, 97, 65, 0.8);
}

.bg-sprimary {
    background-color: rgba(261, 97, 65, 0.8);
}
.shover:hover {
    color: #fff !important;
    background-color: #343A40;
}
}
table .action_right{
    margin-right:8px;
}
table .action_left {
    margin-left: 8px;
}

.new_action a strong {
    color: #fff;
    font-size: 20px;
}

.new_action a {
    padding: 10px;
    border-radius: 12px;
    background-color: dodgerblue;
    
    cursor: pointer;
    
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.bx-edit, .bxs-trash, .bxs-detail {
    padding: 5px;
}

    .bx-edit:hover, .bxs-trash:hover, .bxs-detail:hover {
        color:black;
    }


.bx-edit {
    background-color: green;
    color: #fff;
    font-size: 35px;
}

.bxs-trash {
    background-color: red;
    color: #fff;
    font-size: 35px;
}

.bxs-detail {
    background-color: cornflowerblue;
    color: #fff;
    font-size: 35px;
}
.modal-dialog modal-content {
    border-radius: 10%;
}


.modal-header {
    background-color: rgba(241,97,65,0.8);
    padding-left: 20%;
}


.productPhoto {
    float: right;
    width: 20vh;
    height: 20vh;
}

.selecI {
    width: 20vh;
    background-color: #E3DAC9;
    border: solid 1px black;
}

h5 {
    font-size: 15px;
}

.productInformation {
    width: 47vh;
    font-size: 15px;
}


.modal-body {
    background-color: #E3DAC9;
}

.modal-footer {
    background-color: #E3DAC9;
    border-top: solid 1px black;
    align-items: center;
}

.btn-secondary {
    margin-left: auto;
    margin-right: auto;
    background-color: #ff6666;
}


.entradaTable {
    margin-left: 20vw;
}